html{
    max-height: 100vh;
    height: 100vh;
}
.hdr {
    background-color: #FCFCFC;
    border: 8px solid white;
    border-style: outset;
    margin: 0 auto;
    box-shadow: inset 1px 0em 50px -2px white;
}

header div>div img {
    max-width: 50px;
    width: 50px;
}

.light__Theme {
    height: 100vh;
    background-image: linear-gradient(#FCFCFC, whitesmoke, antiquewhite, whitesmoke, antiquewhite);
    background-repeat: space;
}
.dark__Theme {
    height: 100vh;
    background-image: linear-gradient(#FCFCFC, whitesmoke, antiquewhite, whitesmoke, antiquewhite);
    background-repeat: space;
}

.shadow-complete {
    box-shadow: -11px 5px 10px #88c100;
    background-color:  #8fbf1da8;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}

.shadow-incomplete {
    box-shadow: 11px 5px 10px #fc666e;
    background-color:  #c50a12a6;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;

}
.shadow-started {
    box-shadow: 0px 11px 10px#1c6bff;
    background-color:#0049cfb2;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}
.shadow-form_incomplete {
    /* box-shadow: 0px 11px 10px rgb(177, 207, 236); */
    box-shadow: 0px 11px 10px #fC666E;
    background-color:lightslategray;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}
.shadow-form_started {
    /* box-shadow: 0px 11px 10px rgb(177, 207, 236); */
    box-shadow: 0px 11px 10px #0049CFB2;
    background-color:lightslategray;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}
.shadow-form_complete {
    /* box-shadow: 0px 11px 10px rgb(177, 207, 236); */
    box-shadow: 0px 11px 10px #88C100 ;
    background-color:lightslategray;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}
.shadow-api_started {
    box-shadow: 0px 11px 10px #1c6bff;
    background-color:#010008c5;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}
.shadow-api_incomplete {
    box-shadow: 11px 5px 10px #fc666e;
    background-color:#010008c5;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}
.shadow-api_complete {
    box-shadow: -11px 5px 10px #88c100;
    background-color:#010008c5;
    color: #FCFCFC;
    font-weight: bold;
    border-radius: 14px;
}

nav img {
    max-width: 40px;
    max-height: 40px;
}
.form-border {
    border:3px solid black;
    border-radius: 4px;
    border-style: double;
}

.editable {
    border: 1px solid white;
    box-shadow: 0px 0px 10px 2px white;
}

.form {
    border: 4px slategrey;
    border-style: outset;
    /* box-shadow: 0px -4px 11px 2px #8d8d8d; */
    background-color: lightslategray;
    /* background-color: #FCFCFC; */
    /* background-color: rgba(218, 218, 218, 0.966); */
    font-weight: bold;
}

label {
    margin: 0 13rem;
}

@media (max-width: 991.98px) { 

        a.text-primary {
            display: inline;
        }

        div.dropdown-menu {
            width: 20rem;

        }

        li.ml-5 {
            margin-left: 0 !important;
        }
        
        label {
            margin: 0 ;
        }

}